<div class="my-4">
    <h3 class="leading-4 mb-2 text-xl">1.4 Input-Binding</h3>
    <div class="p-2 bg-blue-200 rounded">
        <h3 class="leading-4 mb-2 text-lg">Parent-Component</h3>
        <div class="flex flex-row items-center">
            <label class="mr-2">Parent-Var:</label>
            <input type="text" (change)="updateParent(inp.value)" #inp class="p-1 bg-gray-50 rounded">
        </div>
        <input-child [inputVar]="parentVar"></input-child>
    </div>
    <div class="flex flex-col">
        <span>Beschreibung:</span>
        <p class="text-gray-500">In einer Parent-Component werden Veränderungen durchgeführt, die als Variable an die Child-Component übergeben werden. Durch ein @Input kann diese Variable in der Child-Component aufgenommen und verarbeitet werden.</p>
    </div>
</div>
<hr>
