<div class="my-4">
  <h3 class="leading-4 mb-2 text-xl">10.2.1 Simple MatTable</h3>
  <div class="grid grid-cols-2 gap-4">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          No.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
          Weight
        </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          Symbol
        </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="p-4 bg-blue-200 rounded-lg">
      <pre class="text-xs">{{ ELEMENT_DATA | json }}</pre>
    </div>
  </div>
  <span>Beschreibung:</span>
  <p class="text-gray-500">Property (zu deutsch: Eigenschaft) sind Bestandteil von HTML-Tags. Diese können in Angular nicht nur gesetzt, sondern auch durch die Logik dynamisch gesetzt werden. Es handelt sich dabei um Property-Bindung. Die Properties sind dann in eckigen Klammern zu schreiben und mit einer Variablen zu versehen.</p>  
</div>
<hr>