<div class="my-4">
    <h3 class="leading-4 mb-2 text-xl">2.1.3 Weitere</h3>
    <div class="grid grid-cols-2 gap-4">
        <form novalidate 
            (ngSubmit)="saveTask(form.value)" 
            #form="ngForm"
            class="p-4 bg-gray-50 rounded">
        <div class="form-group">
            <label for="title">State</label>
            <select class="form-control" name="state" [(ngModel)]="task.state" class="relative w-full px-2 py-3 mt-1 bg-gray-100 rounded focus:outline-none text-sm font-medium leading-none text-light">
                <option *ngFor="let state of states">
                {{ state }}
                </option>
                <!-- <option>BACKLOG</option>
                <option>TEST</option> -->
            </select>

            <select class="form-control" name="state" [(ngModel)]="task.state" class="relative w-full px-2 py-3 mt-1 bg-gray-100 rounded focus:outline-none text-sm font-medium leading-none text-light">
                <optgroup *ngFor="let group of stateGroups"
                    [label]="group.label">
                    <option *ngFor="let state of group.states" [value]="state">
                        {{ state }}
                    </option>
                </optgroup>
            </select>

            <div class="my-4">
                <div *ngFor="let state of states">
                    <label>
                        <input type="radio" name="state" [(ngModel)]="task.state" [value]="state">
                        {{ state }}
                    </label>
                </div>
            </div>
        </div>
        <button type="submit" 
                class="p-2 my-2 bg-blue-500 rounded-lg text-white"
                [disabled]="!form.valid">
            Aufgabe speichern
        </button>
        </form>
        <pre class="p-4 bg-blue-200 rounded">{{ task | json }}</pre>
    </div>
</div>
<hr>