<div class="my-4">
    <h3 class="leading-4 mb-2 text-xl">1.2 {{ title }}</h3>
    <div class="flex flex-col">
        <input type="text" [value]="propertyString" class="p-2 bg-gray-100 border border-gray-200 rounded shadow-lg">
        <div class="flex flex-row items-center">
            <input type="checkbox" [checked]="true">
            <span class="ml-2">Checkbox</span>
        </div>
        <span>Beschreibung:</span>
        <p class="text-gray-500">Property (zu deutsch: Eigenschaft) sind Bestandteil von HTML-Tags. Diese können in Angular nicht nur gesetzt, sondern auch durch die Logik dynamisch gesetzt werden. Es handelt sich dabei um Property-Bindung. Die Properties sind dann in eckigen Klammern zu schreiben und mit einer Variablen zu versehen.</p>
    </div>
</div>

