<div class="container mx-auto">
    <h2 class="leading-8 text-2xl">1 Binding</h2>
    <interpolation></interpolation>
    <propertybinding></propertybinding>
    <eventbinding></eventbinding>
    <inputbinding></inputbinding>
    <outputbinding></outputbinding>

    <h2 class="leading-8 text-2xl">Forms</h2>
    <simple-form></simple-form>
    <two-way></two-way>
    <weitere></weitere>
    <allgemein></allgemein>

    <h2 class="leading-8 text-2xl">10 Material</h2>
    <snackbar></snackbar>
</div>

<app-list></app-list>