<div class="container mx-auto">
  <h2 class="my-4 leading-8 text-2xl">1 Binding</h2>
  <interpolation></interpolation>
  <propertybinding></propertybinding>
  <eventbinding></eventbinding>
  <inputbinding></inputbinding>
  <outputbinding></outputbinding>

  <h2 class="my-4 leading-8 text-2xl">2 Forms</h2>
  <h2 class="mb-4 leading-8 text-xl">2.1 Template-Driven Forms</h2>

  <h2 class="mb-4 leading-8 text-xl">2.2 Reactive Forms</h2>

  <h2 class="my-4 leading-8 text-2xl">3 Routing</h2>

  <h2 class="my-4 leading-8 text-2xl">4 Data</h2>

  <h2 class="my-4 leading-8 text-2xl">5 UX</h2>
  <h2 class="mb-4 leading-8 text-xl">5.1 Loadingindicator</h2>
  <cmp-defer-loading></cmp-defer-loading>
  
  <h2 class="my-4 leading-8 text-2xl">10 Material</h2>

</div>