<div class="my-4">
    <h3 class="leading-4 mb-2 text-xl">5.1.1 &#64;Defer-Shimmer</h3>
    @defer (on viewport; prefetch on timer(5000)) {
        <!-- try playing around with various triggers, eg interaction, idle, ... -->
        <!-- try playing around with various prefetch, eg hover, timeout ... -->
        <div class="flex h-24 items-center justify-center bg-gray-50 shadow-lg rounded">
            Data
        </div>
      } @placeholder (minimum 2s) {
        <!-- try adding "minimum: 100" & playing around with various values -->
        <!-- explore @placeholder & @loading interactions with various settings -->
        <skeleton [animate]="true" />
      } @loading(after 1s; minimum 3s) { 
        <!-- try adding "after 100;" and the @loading block wont be displayed! -->
        Loading
        <skeleton [animate]="true" />
      } @error {
        <p class="text-red-500">Something went wrong...<p>
    }
    <div class="my-2"></div>
    <div class="flex flex-col">
        <button class="my-2 bg-blue-500 shadow-lg rounded" (click)="load=true">Load ({{ load }})</button>
        <button class="my-2 bg-blue-500 shadow-lg rounded" (click)="show=true">Show ({{ show }})</button>
    </div>
    @defer (when show; prefetch when load) {
        <div class="flex h-24 items-center justify-center bg-gray-50 shadow-lg rounded">
            Data2
        </div>
    } @placeholder {
        <skeleton [animate]="true" />
    } @loading(after 1s; minimum 3s) { 
        <!-- try adding "after 100;" and the @loading block wont be displayed! -->
        Loading
        <skeleton [animate]="true" />
    }
    <!-- <div class="grid grid-cols-2 gap-4">
        <div class="p-4 bg-gray-200 rounded-lg">
            <table class="w-full">
                <tr>
                    <th class="w-12">Id</th>
                    <th>Task</th>
                </tr>
                
            </table>
        </div>
        <div class="p-4 bg-blue-200 rounded-lg">
            <pre>{{ tasksOfObjects | json }}</pre>
        </div>
    </div> -->
</div>
<hr class="my-8">